.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.score {
  font-size: large;
}

p {
  margin: 4px 0;
}

.modalScore {
  font-size: larger;
  color: blue;
}

button {
  padding: 10px;
}